/* Todo Text */
.todo-text {
    font-size: 16px;
    cursor: pointer;
    transition: color 0.2s;
    margin-bottom: 6px;
}

.todo-text:hover {
    color: #3366ff;
}

/* Archived Text Styling */
.archived-text {
    color: #888;
    text-decoration: line-through;
}

/* Archived Container Styling */
.archived {
    opacity: 0.7; /* Makes the whole todo appear faded */
}

/* Tags */
.todo-tags {
    margin-top: 6px;
}

/* Individual Tag Styling */
.tag {
    display: inline-block;
    background-color: #e0f0ff;
    color: #3366ff;
    padding: 4px 8px;
    margin: 2px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.tag:hover {
    background-color: #cce0ff;
    transform: scale(1.05);
}

/* Archived Tag Styling */
.archived-tag {
    background-color: #e0e0e0;
    color: #888;
}

/* Toggle Markdown Button */
.toggle-markdown-button {
    margin-top: 8px;
    padding: 6px 12px;
    background-color: #3366ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 8px;
}

/* Button Hover Effect */
.toggle-markdown-button:hover {
    background-color: #254eda;
}
